<!DOCTYPE html>
<html>
<head>
    <title>Messing Up Enterprise</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="icon" type="image/x-icon" href="imgs/Messingup.svg">
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'validation' %>
</head>
<body>
<section id="Section1-Container">
    <div id="Contact-Image-Container">
        <img src="<%= asset_path 'services.jpg' %>" alt="Contact Us">
        <div id="Overlay-Text">Services</div>
    </div>
</section>
<section id="Service-Section">
    <div id="Service-Container">
        <div id="ServicePic">
        <img src="<%= asset_path 'voip.jpeg' %>" alt="">
        </div>
        <div id="ServiceText">
            <H1>CISCO VoIP Installation</H1>
            <p>Our Cisco VoIP Installation service is designed to provide businesses with a robust, scalable, and efficient voice communication system. Leveraging Cisco’s industry-leading VoIP technology, this service ensures high-quality voice communication, enhanced collaboration features, and seamless integration with existing IT infrastructure.</p>
        </div>
    </div>
</section>
<section id="Service-Section">
    <div id="Service-Container">
        <div id="ServicePic">
        <img src="<%= asset_path 'cyber.jpeg' %>" alt="">
        </div>
        <div id="ServiceText">
            <h1>Cyber Security Solution</h1>
            <p>Our Cyber Security Solution provides end-to-end managed security services tailored to protect businesses from evolving cyber threats. By leveraging cutting-edge technologies and a proactive approach, we ensure robust threat detection, prevention, and response capabilities.</p>
        </div>
    </div>
</section>
<section id="Service-Section">
    <div id="Service-Container">
        <div id="ServicePic">
        <img src="<%= asset_path 'network.jpg' %>" alt="">
        </div>
        <div id="ServiceText">
            <h1>Networking Solutions</h1>
            <p>We offer comprehensive network solutions tailored to your business needs, including the design and implementation of secure, scalable, and high-performance networks. Our services ensure seamless connectivity, optimized traffic management, and robust cybersecurity measures to support your operations.</p>
        </div>
    </div>
</section>
</body>
</html>
